<HTML>
<HEAD>
    <meta charset="utf-8">
    <! -- кодировка с англ на русский -- !>
    <TITLE> Zagolovok of this page </TITLE>
</HEAD>
<BODY>

<img src="sun.png" align="center" height="170" width="180">
Это картиночка получается
<table bordercolor="black" , style="position:relative; top:10; left:150;">
    <tbody>
    <td bgcolor="green"> {{usertext}} <br> Готова</td>
    <td bgcolor="blue"> {{usertext}} <br> Готова</td>
    <td bgcolor="gray"> {{usertext}} <br> Готова</td>
    <td bgcolor="orange">Таблица <br> готова</td>
    </tbody>
</table>
</BODY>
</HTML>
